div.hospital-display::-webkit-scrollbar {
    width: .5em;
}

div.hospital-display::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div.hospital-display::-webkit-scrollbar-thumb {
    background-color: #383838;
    outline: 1px solid black;
}

div.hospital > div.information {
    display:none;
}
div.hospital.active > div.information {
    display:block;
}

div.hospital > div.header {
    height: 32px;
    line-height: 32px;
    width: 360px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align:center;
    color:rgba(207, 216, 220, 1);
    background-color: rgba(38, 50, 56, 1);
    border: 1px solid rgba(112, 112, 112, 1);
    border-radius: 16px;
    font-weight:bold;
    font-size:0.8em;
    font-family: 'Noto Sans', Helvetica, arial, sans-serif;
    overflow: hidden;
}
div.hospital > div.header > div.name {
    float:left;
    text-align:left;
    margin-left:12px;
    max-width:80%;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
div.hospital.active > div.header {
    height: auto;
}
div.hospital.active > div.header > div.name {
    height: auto;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
    line-height: initial;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.hospital > div.information > div.info-item {
    color: rgba(38, 50, 56, 1);
    background-color: rgba(207, 216, 220, 1);
    border: 1px solid rgba(38, 50, 56, 1);
    height: 32px;
    width: 340px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align:center;
    border-radius: 16px;
    line-height: 32px;
    font-weight:bold;
    font-size:0.8em;
    font-family: 'Noto Sans', Helvetica, arial, sans-serif;
}
div.hospital > div.information > div.info-item > i, div.hospital > div.information > div.info-item > svg, div.hospital > div.information > div.info-item > a > i{
    float:left;
    margin:0 12px 0 12px;
    width:16px;
    transform:translate(0, 40%);
}
div.hospital > div.information > div.info-item > i {
    transform:translate(0, 80%);
}

div.hospital > div.information > div.info-item.cursor{
    cursor:pointer;
    z-index:9999;
}
div.hospital > div.information > div.info-item.red-border {
    border: 2px solid rgba(183, 28, 28, 1);
}
div.hospital > div.information > div.info-item.green-border {
    border: 2px solid #32CD32;
}
div.hospital > div.information > div.info-item.orange-border {
    border: 2px solid #ee7600;
}
div.hospital > div.information > div.info-item.blueviolet-border {
    border: 2px solid blueviolet;
}
div.hospital > div.information > div.info-item.blue-border {
    border: 2px solid blue;
}
div.hospital > div.information > div.info-item.black-border {
    border: 2px solid black;
}

div.hospital > div.information > div.info-item.long-text {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: initial;
}

div.hospital > div.header > svg {
    float:right;
    transform:translate(0, 40%);
    margin-right:12px;
    cursor:pointer;
}
div.hospital.active > div.header > svg {
    transform:translate(0, 40%) rotate(180deg);
}
div.hospital > div.header > div.information {
    overflow-y: hidden;
    max-height: 256px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
div.hospital > div.header > div.information.closed {
    max-height:0;
}

div.hospital > div.information > div.figures{
    float:right;
    line-height:24px;
    transform:translate(0px, 1px);
}
div.hospital > div.information > div.figures > div.figure > i{
    float:left;
    transform:translate(0,23%);
    padding:1px;
    margin-right: 0.5em;
}
div.hospital > div.information > div.figures > div.figure > span{
    font-size:0.75em;
    font-family: 'Noto Sans', Helvetica, arial, sans-serif;
    text-align:center;
}
div.hospital > div.information > div.figures > div.figure{
    border-radius: 32px;
    color: rgba(38, 50, 56, 1);
    background-color: rgba(207, 216, 220, 1);
    border: 1px solid rgba(38, 50, 56, 1);
    padding: 0 4px 0 4px;
}
div.hospital > div.information > div.figures > div.figure{
    background-color: rgba(38, 50, 56, 1);
    border: 1px solid rgba(112, 112, 112, 1);
    border-radius: 32px;
    color: rgba(207, 216, 220, 1);
    padding: 0 4px 0 4px;
}

full-count {
    color: white;
    /* font-family: Consolas, monaco, monospace; */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: .4em;
    padding-left: .15em;
    padding-right: .15em;
    padding-top: .05em;
    padding-bottom: .05em;
    background: green;
}
div#floating-side-panel-info-container {
  background-color:rgba(96, 125, 139, 1);
  z-index: 10000;
  position: absolute;
  display: flex;
  overflow-y: scroll;
  width: 400px;
}
div.right {
  left:400px;
}
div.smaller {
  height: calc(50% - 2 * 44px);
  top: 44px;
}
div.bigger {
  height: calc(100% - 44px);
  top: 44px;
}
div.info-pane.hospital {
  overflow-y:scroll;
}
div.info-header.smaller.unset-height {
  height:unset;
}

button.close_hos_info {
  width:40px;
  height:40px;
  /* line-height:40px; */
  background-color: rgba(207, 216, 220, 1);
  /* border-radius: 20px; */
  border-width: 0px;
  /* display:inline-block; */
  transform: translate(80px, 2px);
}

i.fas.fa-hospital {
    transform: translate(28px, 0px);
}

span.titile_info {
    display: inline-block;
    transform: translate(30px, 0px);
}

div#hospitalDOMs {
    line-height: normal;
    margin-top: 12px;
}